body {
  background: radial-gradient(LightGrey, DarkGrey, Grey);
  background-attachment: fixed;
}
header {
  margin:0;
  background-color:DarkBlue;
  border-top-style: solid;
  border-top-color: DarkBlue;
  border-top-width: medium;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#title {
  margin:0;
  text-align: center;
  font-size: 40px;
  background: -webkit-linear-gradient(#eee, #555);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor:default;
}
* {box-sizing: border-box}
#navbar {
  width: 100%;
  background-color: DarkBlue;
  border-bottom-style:solid;
  border-bottom-color: DarkBlue;
  border-bottom-width:medium;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: auto;
  position:sticky;
  top: 0;
  z-index: 1;
}
#navbar a {
  float: left;
  padding-bottom: 2px;
  color: DarkGrey;
  text-decoration: none;
  font-size: 30px;
  width: 25%;
  text-align: center;
  transition: .25s;
}
#navbar a:hover {
  color: White;
  text-shadow: 0 0 5px White;
  transition: .15s;
}
#navbar #active {
  color: White;
  text-shadow: 0 0 5px White;
}
@media screen and (max-width: 500px) {
  #navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
}
#main {
  text-align: center;
}
#p {
  font-size: 20px;
  color: DarkBlue;
  cursor:default;
}
a:link {
  color: DarkBlue;
  transition: .25s;
}
a:visited {
  color: DarkBlue;
  transition: .25s;
}
a:hover {
  color: White;
  text-shadow: 0 0 3px #ffffff;
  transition: .15s;
}
a:active {
  color: White;
}
#listhead {
  font-size: 30px;
  color: DarkBlue;
  cursor:default;
}
#logs {
  color: DarkBlue;
  font-size: 25px;
  cursor:default;
}
#logs p {
  border-bottom-style: solid;
  border-bottom-width: medium;
  border-bottom-color: DarkBlue;
  text-align:left;
}
#updatelogs {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border-style:solid;
  border-color:DarkBlue;
  border-radius: 10px;
  border-width: thick;
  background: linear-gradient(LightGrey, DarkGrey, Grey);
  background-attachment: fixed;
}
summary {
  cursor: pointer;
  transition: 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
summary:hover {
  color: White;
  text-shadow: 0 0 3px White;
  transition: 0.5s;
}
#details {
  color: DarkBlue;
  font-size: 22px;
}
#section1 {
  border-color: DarkBlue;
  border-width: 5px;
  border-style: solid;
  background: linear-gradient(LightGrey, DarkGrey, Grey);
  border-radius: 10px;
}
#heading1 {
  color: DarkBlue;
  font-size: 30px;
  border-bottom-width: 2px;
  border-bottom-color: DarkBlue;
  border-bottom-style: solid;
  cursor:default;
}
#heading {
  color: DarkBlue;
  font-size: 25px;
  cursor:default;
}
#tooltip {
    position: relative;
    display: inline-block;
    transition: 1s;
}

#tooltip #tooltipcontent {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
    opacity: 0;
    transition: opacity 1s;
    transition: 1s;
}

#tooltip #tooltipcontent::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
    transition: 1s;
}
#tooltip:hover #tooltipcontent {
    visibility: visible;
    opacity: 1;
}
#symbol {
  -moz-user-drag: none;
  -webkit-user-drag: none;
  -ms-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#welcome p {
  font-size: 22px;
  color: DarkBlue;
  cursor:default;
}
#welcome h1 {
  color: DarkBlue;
  font-size: 30px;
  cursor:default;
}
#pageinfo {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  cursor:default;
}
#pageinfo h1 {
  color: DarkBlue;
  font-size: 30px;
  border-bottom-width: 2px;
  border-bottom-color: DarkBlue;
  border-bottom-style: solid;
}
#infohelp {
  color: DarkBlue;
  font-size: 20px;
  border-bottom-width: 2px;
  border-bottom-color: DarkBlue;
  border-bottom-style: solid;
}
#info {
  width: 40%;
  border-color: DarkBlue;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
  float:left;
  margin-left:5%;
  margin-right:5%;
}
#info details {
  font-size: 20px;
  color: DarkBlue;
}
#info p {
  color: DarkBlue;
  font-size: 20px;
}
#logo {
  margin:auto;
  margin-top:20px;
}
