body {
  background: radial-gradient(LightGrey, DarkGrey, Grey);
  background-attachment: fixed;
  cursor: default;
}
header {
  margin:0;
  background-color:DarkBlue;
  border-top-style: solid;
  border-top-color: DarkBlue;
  border-top-width: medium;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#title {
  margin:0;
  text-align: center;
  font-size: 40px;
  background: -webkit-linear-gradient(#eee, #555);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor:default;
}
* {box-sizing: border-box}
#navbar {
  width: 100%;
  background-color: DarkBlue;
  border-bottom-style:solid;
  border-bottom-color: DarkBlue;
  border-bottom-width:medium;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: auto;
  position:sticky;
  top: 0;
  z-index: 1;
}
#navbar a {
  float: left;
  padding-bottom: 2px;
  color: DarkGrey;
  text-decoration: none;
  font-size: 30px;
  width: 25%;
  text-align: center;
  transition: .25s;
}
#navbar a:hover {
  color: White;
  text-shadow: 0 0 5px White;
  transition: .2s;
}
#navbar #active {
  color: White;
  text-shadow: 0 0 5px White;
}
main {
  text-align: center;
}
a:link {
  color: DarkBlue;
  transition: .25s;
}
a:visited {
  color: DarkBlue;
  transition: .25s;
}
a:hover {
  color: White;
  text-shadow: 0 0 3px #ffffff;
  transition: .2s;
}
a:active {
  color: White;
}
#listhead {
  font-size: 0px;
  color: DarkBlue;
  cursor:default;
  margin-top: 15px;
  animation-name: listhead;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
#logs {
  color: DarkBlue;
  font-size: 0px;
  cursor:default;
  animation-name: logs;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: .6s;
}
#logs a:link {
  color: DarkBlue;
  font-size: 0px;
  animation-name: logs;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: .8s;
}
#logs p {
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-bottom-color: DarkBlue;
  text-align:left;
  margin-top: 10px;
  animation-name: logsp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: .8s;
}
#updatelogs {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border-style:solid;
  border-color:DarkBlue;
  border-radius: 10px;
  border-width: 0px;
  background: none;
  animation-name: updatelogs;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: .5s;
}
summary {
  cursor: pointer;
  transition: 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
summary:hover {
  color: White;
  text-shadow: 0 0 3px White;
  transition: 0.5s;
}
details {
  color: DarkBlue;
  font-size: 22px;
}
#section1 {
  border-color: DarkBlue;
  border-width: 5px;
  border-style: solid;
  background: linear-gradient(LightGrey, DarkGrey, Grey);
  border-radius: 10px;
}
#heading1 {
  color: DarkBlue;
  font-size: 30px;
  border-bottom-width: 2px;
  border-bottom-color: DarkBlue;
  border-bottom-style: solid;
  cursor:default;
}
#heading {
  color: DarkBlue;
  font-size: 25px;
  cursor:default;
}

#symbol {
  -moz-user-drag: none;
  -webkit-user-drag: none;
  -ms-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#welcome p {
  font-size: 0px;
  color: DarkBlue;
  cursor:default;
  animation-name: welcomep;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
#welcome p a:link{
  font-size: 0px;
  color: DarkBlue;
  animation-name: welcomep;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
#welcome h1 {
  color: DarkBlue;
  font-size: 0px;
  cursor:default;
  animation-name: welcomeh1;
  animation-duration: 1s;
  animation-fill-mode:forwards;
}
#pageinfo {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  cursor:default;
}
#pageh1 {
  color: DarkBlue;
  font-size: 0px;
  border-bottom-width: 2px;
  border-bottom-color: DarkBlue;
  border-bottom-style: solid;
  animation-name: pageh1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
#infohelp {
  color: DarkBlue;
  font-size: 0px;
  border-bottom-width: 0px;
  border-bottom-color: DarkBlue;
  border-bottom-style: solid;
  margin-top: 5px;
  animation-name: infohelp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}
#info {
  width: 40%;
  border-color: DarkBlue;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
  float:left;
  margin-left:5%;
  margin-right:5%;
  opacity: 0;
  animation-name: info;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.8s;
}
#info details {
  font-size: 20px;
  color: DarkBlue;
}
#info p {
  color: DarkBlue;
  font-size: 20px;
}
#info h1 {
  color: DarkBlue;
  font-size: 30px;
  border-bottom-width: 2px;
  border-bottom-color: DarkBlue;
  border-bottom-style: solid;
}
#logo {
  margin:auto;
  margin-top:20px;
}
#dropdown {
  position: relative;
  display: inline-block;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  opacity: 0%;
}
#dropdown-content {
  position: relative;

}

#dropdown span {
	color: DarkBlue;
  font-size: 50px;
  border-style: solid;
  border-width: 5px;
  border-color: DarkBlue;
  background: linear-gradient(LightGrey, DarkGrey);
  border-radius: 10px;
  padding: 0px;
  font-weight: bold;
  cursor: default;
  transition: 0.5s;
  text-align:center;
  margin-bottom: 20%;
  animation-name: drop;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
#dropdown:hover span {
	color: White;
  text-shadow: 0 0 5px White;
  transition: 0.4s;
  cursor:default;
}
#upcoming {
  border-color: DarkBlue;
  border-style: solid;
  border-radius: 20px;
  border-width: 0px;
  margin-top: 0%;
  margin-right: 5%;
  margin-left: 5%;
  background: none;
  animation-name: upcoming;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.3s;
}
#upcoming h1 {
  border-bottom-width: 0px;
  border-bottom-color: DarkBlue;
  border-bottom-style: solid;
  color: DarkBlue;
  font-size: 0px;
  animation-name: upcomingh1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.2s;
}
#comingsoon p {
  font-size: 0px;
  color: DarkBlue;
  border-bottom-width: 0px;
  border-bottom-color: DarkBlue;
  border-bottom-style: solid;
  animation-name: comingsoon;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
  margin-top: 5px;
}
#comingsoon a {
  animation-name: comingsoon;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}
#content1 {
  display:none;
  padding: 12px 16px;
  background: linear-gradient(LightGrey, DarkGrey);
  min-width: 160px;
  margin: auto;
  margin-top: 5px;
  border-style: solid;
  border-color: DarkBlue;
  border-radius: 8px;
  border-width: 3px;
  color: DarkBlue;
  cursor: default;
  text-align: center;
  font-size: 20px;
}
#content1:hover {
  display:block;
}
@media screen and (max-width: 500px) {
  #navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
  #updatelogs {
    width: 100%;
    margin: none;
  }
  #info {
    width: 90%;
    float:none;
  }
}
@keyframes welcomeh1  {
  from {font-size: 0px;}
  to  {font-size: 30px;}
}
@keyframes welcomep {
  from {font-size: 0px;}
  to  {font-size: 22px;}
}
@keyframes drop {
  0%  {padding: 0px;}
  25% {padding: 10px;}
  50% {padding: 6px;}
  100% {padding: 10px;}
}
@keyframes pageh1 {
  from  {font-size: 0px; border-bottom-width: 0px;}
  to   {font-size: 30px; border-bottom-width: 2px;}
}
@keyframes infohelp {
  from  {font-size: 0px; border-bottom-width: 0px; margin-top: 0px;}
  to   {font-size: 20px; border-bottom-width: 2px; margin-top: 5px;}
}
@keyframes info {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes listhead {
  from {font-size: 0px;}
  to  {font-size: 30px;}
}
@keyframes logs {
  from {font-size: 0px;}
  to  {font-size: 25px;}
}
@keyframes updatelogs {
  from {border-width: 0px; background: none;}
  to  {border-width: 5px; background: linear-gradient(LightGrey, DarkGrey, Grey); background-attachment: fixed;}
}
@keyframes logsp {
  from {border-bottom-width: 0px;}
  to  {border-bottom-width: 3px;}
}
@keyframes upcoming {
  from {border-width: 0px; margin-top: 0%; background: none;}
    to {border-width: 5px; margin-top: 10%; background: linear-gradient(LightGrey, DarkGrey, Grey);}
}
@keyframes upcomingh1 {
  from {border-bottom-width: 0px; font-size: 0px;}
    to {border-bottom-width: 3px; font-size: 30px;}
}
@keyframes comingsoon {
  from {font-size: 0px; border-bottom-width: 0px;}
    to {font-size: 20px; border-bottom-width: 2px;}
}
